p {
    color: rgb(8, 106, 142);
    text-shadow: 2px 2px 3px rgb(0, 183, 255);
    font-size: 40pt;
    text-align: center;
}

#q {
    
    color: rgb(140, 103, 10);
    text-shadow: 2px 2px 3px rgb(255, 230, 0);
    font-size: 40pt;
    text-align: center

}

#w {
    
    color: rgb(255, 25, 0);
    text-shadow: 2px 2px 3px rgb(255, 10, 5);
    font-size: 40pt;
    text-align: center;
}  

h1 {
    color: rgb(255, 0, 174);
    text-shadow: 2px 2px 3px rgb(255, 132, 0);
    font-size: 40pt;
    text-align: center;
}

body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    }