* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: monospace;
    color: white;
    margin-bottom: 10px;
    font-weight: 40;
}

div {
    height: 370px;
    width: 270px;
    border-radius: 10px;
    background-color:rgb(100, 176, 246);
    gap: 60px;
}

p {
    font-family: sans-serif;
    color: white;
    
}

.dv2  {
    position: relative;
    bottom: 370px;
    left: 300px;

    background-color:rgb(240, 180, 47);
}

img {
    width: 270px;
    border-radius: 7px;
}

.dv3{
    position: relative;
    bottom: 740px;
    left: 600px;
    background-color: rgb(35, 76, 115);
}

button {
    width: 95px;
    margin-top: 25px;
    color: #ffffff;
    background-color:black;
    opacity: 40%;
    border-radius: 30px;
    height: 35px;
}

body {
    background-color: lightgray;
}