body {
    background-image: url(7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
 h1 {
    color: rgb(252, 145, 6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    };

 p {
    color: cornflowerblue;
 }

 h2{
    font-size: 50px;
    color: rgb(132, 81, 4);
}

body {
    text-align: center;
}