@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(233, 47%, 7%) ;
    height: 100vh;
    color: white;
}


.parent {
    display: flex;
    border: 1px none;
    height: 590px;
    width: 1440px;
    background-color:  hsl(243, 37%, 12%);
}


.child1, .child2 {
    width: 50%;
}

.child1 {
    font-size: xx-large;
    padding: 60px;
}

.child1 h1{
    font-family: "Inter", sans-serif;
}

.qwen {
    color: hsl(277, 64%, 61%);
}

.child2 {
    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.cover {
    width: 100%;
    height: 100%;
    background-color:hsl(274, 35%, 32%);
    opacity: 70%;
    filter: contrast(170%);
}

.child1  p {
    font-size: medium;
    font-family: "Inter", sans-serif;
    color: rgb(160, 157, 184);
    padding-top : 25px;
    padding-bottom: 85px;

}

h2 {
    display: flex;
    flex-direction: row;
}

.qwe {
    color: rgb(160, 157, 184);
    display: flex;
    flex-direction: row;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

h2 {
    font-size: 25px;
    font-family: "Inter", sans-serif ;
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.qwe {  
    font-family: "Lexend Deca", sans-serif;
}

.qwte {  
    font-family: "Lexend Deca", sans-serif;
    color: rgb(160, 157, 184);
    display: flex;
    flex-direction: row;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.qwoe {
    color: rgb(160, 157, 184);
    display: flex;
    flex-direction: row;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-size: 25px;
}


.about_company {
    display: flex;
    gap: 50.6px;
}
 