body {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.d1 {
    background-color: brown;
    width: 200px;
    height: 200px;
    border: solid white;
}

.d2 {
    background-color: rgb(42, 165, 58);
    width: 200px;
    height: 200px;
    border: solid white;
}

.d3 {
    background-color: rgb(0, 0, 255);
    width: 200px;
    height: 200px;
    border: solid white;
}

.d4 {
    background-color: rgb(230, 0, 255);
    width: 200px;
    height: 200px;
    border: solid white;
}

div {
    border-radius: 40px;
}

/* davalebiano 2 */

