div {
    background-color: blueviolet;
    transform:scaleY(3.0);
    width: 200px;
    margin-top: 100px;
}

.d1 {
    translate:918px 20px;
}

.d2 {
   

    background-color: rgb(226, 156, 43);
    translate:438px 400px;
}
.d3 {

    background-color: rgb(186, 219, 0);
    translate:438px -790px;

}
.d4 {
    background-color: rgb(0, 136, 129);



}