div {
    font-size: 500px;
}

div,p{
    font-size: 50%;
    color: crimson;
}

/*     <!-- 4) შექმენით დივი რომლის ტექსტის ზომაც იქნება 500px შემდეგ მასში მოათავსეთ ტექსტი რომლის ტექსტის ზომაც იქნება მშობლის ნახევარი მეტი დავალება არგექნებათ რადგან გუნდური პროექტები გაქვთ დასამთავრებელი იმუშავეთ და შემდეგ გაკვეთილზე ჩავიბარებთ --> */