* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Outfit", serif;
    font-weight: weight;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
}


section{
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    gap: 15px;
    border-radius: 20px;
    width: 870px;
}


section img {
    border-radius: 20px;
}

section h1 {
        font-size: 3.8rem;
        font-family: "Young Serif", serif;
        font-weight: bold;
        font-style: normal;
}

p{
    font-size: 1.2rem;
    opacity: 60%;
}



.h1 {
    color: #000;
}

h1 {
    color: hsl(332, 51%, 32%);
}