#p4 {
    text-decoration: overline rgb(255, 0, 0);
    text-decoration-style: line;
}
#p5 {
    text-decoration: line-through rgb(0, 255, 0);
    text-decoration-style: wavy;
}
#p6 {
    text-decoration:underline rgb(38, 0, 255);
    text-decoration-style:double;
}
#p7 {
    text-decoration: line-through overline rgb(231, 224, 19);
    text-decoration-style:inherit;
}
#p8 {
    text-decoration:underline line-through;
    text-decoration-color: rgb(172, 9.0, 7);
    text-decoration-style:unset;
}

#p9 {
    text-decoration:underline overline;
    text-decoration-color: rgb(172, 90.0, 7);
    text-decoration-style:unset;
}

#p10 {
    text-decoration:underline line-through overlineS;
    text-decoration-color: rgb(17, 90, 7);
    text-decoration-style:unset;
}
/* 2) შექმენით საიტი სადაც დაამატებთ 7 პარაგრაფს, პირველ პარაგრაფს ხაზი ქონდეს ზემოთ გასმული, მეორე შუაში მესამეს ქვემოთ, მეოთხეს ზემოთ და შუაში, მეხუთეს შუაში და ქვემოთ, მეექვსეს ზემოთ და ქვემოთ ხოლო მეშვიდეს ზემოთაც ქვემოთაც და შუაშიც, ყველა დეკორაციის ანუ ხაზი ფერი იყოს განსხვავებული და ასევე ტექსტებსაც მიანიჭეთ განსხვავებული ფერები */