
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    gap: 20px;
}
  

div {
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    font-family: sans-serif;
    width: 300px;
    text-align: center;
    color: rgb(0, 151, 167);
    background-color: rgb(224, 247, 250);
}


img {
   color: rgb(0, 151, 167);
}