* {
  box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
.top {
    flex: 2;
    background-color: lime;
}
.middle {
    flex: 2;
    display: flex;
    gap: 5px;
}
.middle div {
    flex: 1;
}
.middle .box1 {
    background-color: fuchsia;
}
.middle .box2 {
    background-color: cyan;
}
.middle .box3 {
    background-color: gray;
}
.bottom {
    flex: 1;
    background-color: salmon;
}
.right {
    flex: 1;
    background-color: blue;
    color: white;
    padding: 5px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
}