* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #d8e1ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.d1 {
    width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    height:550px ;
}

.qr img {
    width: 100%;
}

.div h1{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: center;
}

.div p {
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.516);
}

