p {font-size:  60px; 
    width: 700; 
    height: 150;
}

#p1 {
    background-color: rgb(255, 12, 126);
    color: rgba(255, 225, 0, 0.967);
}
#p2  {
    background-color:blue;
    color:khaki
}
#p3  {
    background-color:blueviolet;
    color:aqua
}
#p4  {
    background-color:honeydew;
    color:burlywood
}
#p5 {
    background-color:chocolate;
    color:red;
}


#l1 {
     width: 300px ;
     height: 300px ;
}

#l2 {
    width: 500px; ;
    height: 700px ;
}

#l3 {
    width: 300px ;
    height: 700px ;
}

button {
    font-size: 30px;
    width: 200px;
    height: 150px;
}

#t1 {
    background-color: coral;
    color: darkturquoise;
}

#t2 {
    background-color: rgb(130, 0, 119);
    color: rgb(70, 130, 131);
}

#t3 {
    background-color: rgba(14, 44, 54, 0.644);
    color: rgba(12, 110, 9, 0.884);
}

body {background-color: black;}