


div {
    width: 200px;
    height: 300px;
    margin-right: 31.4px;
    border-color: black;
    text-align: center;
    border-style: groove;
    padding: 15.78px;
    border-width: 3px;
   color: rgb(0, 0, 0);
}

.qwerty {
    background-color: rgb(225, 48, 108);
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:    sans-serif ;

}

h1 {
    font-weight:bold;
}

img {
    width: 78px;
}


button {
    width: 95px;
    margin-top: 25px;
    color: #ffffff;
    background-color:black;
    border-radius: 30px;
    height: 35px;
    position: relative;
    bottom: 35px;
    width: 200px;
    padding: 5px;
    border-style: none;
}

.qwerty  button{
    background-color: white;
    color:  rgb(225, 48, 108);

}

