div {
    background-color: rgb(255, 0, 0);
    width: 90px;
    height: 90px;
}


#h:hover{
    border-radius: 50%;
    background-color: rgb(42, 165, 71);
    width: 200px;
    transition:0.7s;
    height: 200px;
}

#p:hover{
    border-radius: 50%;
    background-color: rgb(42, 165, 71);
    width: 50px;
    transition:0.7s;
    height: 50px;
}



#h {
    background-color: rgb(255, 0, 0);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    gap: 20px;
}
#q:hover {
    background-color: rgb(94, 255, 0);
    transition: 0.7s;
}

#l:hover {
    width: 1000px;
    transition: 0.7s;
}


