body{
    background-image: url(/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(32, 170, 183);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerone{
    width: 390px;
    height: 450px;
    background-color: white;
    margin-left: 690px;
    transform: translateY(300px);
    border-radius: 10px;
}

img{
    /* margin-left: -6px; */
    width: 400px;
    border-radius: 10px;
    transform: translateY(-5px);
    color: rgb(251, 251, 251);
}

.profilepicture{
    width: 90px;
    height: 90px;
    margin-left: 150px;
    border-radius: 50px;
    border: solid white;
    transform: translateY(-35px);
}

.p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    transform: translateY(-20px);
    font-weight: bolder;
}

.p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(134, 135, 143);
    margin-left: 270px;
    position: relative;
    transform: translateY(-63px);
}

.p3{
    text-align: center;
    color: rgb(146, 146, 150);
    font-size: 20px;
    transform: translateY(-65px);
}

hr{
    transform: translateY(-100px);
}

h3{
    font-size: 1.8em;
    margin-left: 50px;
    transform: translateY(-15px);
}