button {
    background-color: brown;
    color: blueviolet;
}

p {
    color: fuchsia;
    background-color: aquamarine;
}

bdo {
    color: floralwhite;
    background-color: dimgrey;
}
kbd{
    color: lime;
    background-color: deeppink;
}
bdi {
    color: brown;
    background-color: antiquewhite;
}
