
#p1 {
    color: blueviolet;
    
}
#p2 {
    color: rgb(122, 73, 169);
    
}
#p3 {
    color: rgb(226, 49, 43);
    
}
#p4 {
    color:violet;
}
#p5 {
    color: rgb(0, 0, 0);
    
}

.p5 {
    color: rgb(255, 153, 0);
}

.p9 {
    color: darkviolet;
}

.p3 {
    color: aqua;
}
