#h1 {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    color: greenyellow;
}

#p {
    font-family: " Jaro", sans-serif;
    font-weight: 400;
    color: greenyellow;
    width: 100px;
}

