body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
}

.card2 {
    display: flex;
    flex-direction: column;
}

.btton_div {
    display: flex;
    justify-content: start;

}

.button {
    background-color: rgb(206, 169, 176);
    color: white;
    height: 42px;
    width: 150px;
}

.btn2 {
    background-color: white;
    color: rgb(206, 169, 176);
    border: rgb(206, 169, 176) solid;
    width: 32px;
    height: 42px;
}

 