/* 1) შექმენით 6 პარაგრაფი პირველი იყოს წითელი ფერის ოღონდ აუცილებლად გამოიყენეთ rgb ფერები, მეორე იყოს ლურჯი, მესამე იყოს მწვანე, მეოთხე იყოს ლურჯი, მეხუთე იყოს წითელი ხოლო მეექვსე იყოს მწვანე გამოიყენეთ rgb ფერები */

#p1 {
    color:rgb(255,0,0);
}

#p2 {
    color:rgb(0,0,255);
}

#p3 {
    color:rgb(0,255,0);
}

#p4 {
    color:rgb(0,0,255);
}

#p5 {
    color:rgb(255,0,0);
}

#p6 {
    color: rgb(0,255,0);
}