
#p1 {
    color: rgb(201, 130, 23);
}
#p2 {
    color: rgb(209, 255, 205);
}
#p3 {
    color: rgb(141, 108, 207);
}
#p4 {
    color: rgb(0, 0, 255);
}
#p5 {
    color: rgb(255, 0, 0);

}#p6 {
    color: rgb(255, 205, 232);
}