* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: monospace;
    opacity: 40%;
    margin-bottom: 10px;
    font-weight: 300;
}

div {
    height: 400px;
    width: 270px;
    border-color:rgb(0, 0, 0) ;
    border-radius: 10px;
    background-color: white;
}

p {
    font-family: sans-serif;
    opacity: 40%;

}

.dv2  {
    position: relative;
    bottom: 400px;
    left: 300px;
}

img {
    width: 270px;
    border-radius: 7px;
}

.dv3{
    position: relative;
    bottom: 800px;
    left: 600px;
}

button {
    width: 270px;
    margin-top: 25px;
}

body {
    background-color: lightgray;
}