.card {
    background-color: rgb(78, 4, 112);
    font-family: sans-serif;
    color: azure;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: right;
    color: rgba(219, 249, 249, 0.71);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 200px;

}

button {
    border-radius: 20px;
    background-color:rgba(219, 249, 249, 0.71);
}

.text{
    font-family: sans-serif;
}