
.qwertyu {
    width: 100%;
    background-color: rgb(143, 142, 142);
    border-radius: 12px;
    height: 20px;
}

.merosdiv {
    border-radius: 10px;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    animation-name: qwertyi; 
    animation-duration: 20s;
    color: chartreuse;
}

.qwertyu {
    width: 100%;
    background-color: rgb(143, 142, 142);
    border-radius: 12px;
    height: 20px;
}

@keyframes qwertyi {
    0% {
        width: 0%;
        background-color: rgb(255, 0, 0);
    }

    50%{
        width:51%;
        background-color: rgb(255, 234, 0);
    }
    100% {
        width: 100%;
        background-color: rgb(255, 0, 0);
    }
}

p{
    color: rgb(169, 0, 59);
    font-size: xx-large;
}

body {
    text-align: center;
    background-color: aqua;
}


