div {
    display: flex;
    gap: 10px;
}

.D1 {
    display: flex;
    flex-direction: row;
}



.d1 {
    background-color: rgb(136, 0, 21);
    width: 200px;
    height: 200px;
}

.d2 {
    background-color: rgb(34, 177, 76);
    width: 200px;
    height: 200px;
}

.d3 {
    background-color: rgb(34, 84, 177);
    width: 200px;
    height: 200px;
}

.d4 {
    background-color: rgb(238, 255, 0);
    width: 200px;
    height: 200px;
}

.d5 {
    background-color: rgb(255, 68, 0);
    width: 200px;
    height: 200px;
}

.d6 {
    background-color: rgb(136, 0, 21);
    width: 200px;
    height: 200px;
}

.d7 {
    background-color: rgb(34, 177, 76);
    width: 200px;
    height: 200px;

}

.d8 {
    background-color: rgb(238, 255, 0);
    width: 200px;
    height: 200px;  

}

.d9 {
    background-color: rgb(34, 105, 177);
    width: 200px;
    height: 200px;
}