body {
    display: flex;
    gap: 20px;
}

div {
    border: solid 4px;
}

.D1 {
    display: flex;
    flex-direction: row;
}

.D2 {
    display: flex;
    flex-direction: row;
}

.D3 {
    display: flex;
    flex-direction: row;
}

.d1 {
    background-color: rgb(136, 0, 21);
    width: 365px;
    height: 180px;
}

.d2 {
    background-color: rgb(34, 177, 76);
    width: 365px;
    height: 180px;
}

.d3 {
    background-color: rgb(34, 84, 177);
    width: 290px;
    height: 400px;
}

.d4 {
    background-color: rgb(238, 255, 0);
    width: 365px;
    height: 180px;
}

.d5 {
    background-color: rgb(255, 68, 0);
    width: 365px;
    height: 180px;
}

.d6 {
    background-color: rgb(136, 0, 21);
    width: 290px;
    height: 400px;
}

.d7 {
    background-color: rgb(34, 177, 76);
    width: 365px;
    height: 110px;

}

.d8 {
    background-color: rgb(238, 255, 0);
    width: 365px;
    height: 110px;  

}

.d9 {
    background-color: rgb(34, 105, 177);
    width: 365px;
    height: 110px;
}

.c1 , .c2 , .c3 {
    border: white solid ;

}