.md {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    width: 100vh;
    height: 100vh;
}
div {
    background-color: brown;
    width: 200px;
    height: 200px;
}

