#t:hover {
    color: black;
    font-size: xx-large;
    border: 56px;
}

#t {
    color: gray;
    border: 34px;
}

#r:hover {
    color: black;
    font-size: xx-large;
    border: 56px;
}

#r {
    color: gray;
    border: 34px;
}

#a:hover {
    color: black;
    font-size: xx-large;
    border: 56px;
}

#a {
    color: gray;
    border: 34px;
}