div {
    flex: start;
    justify-content: center;
    background-color: rgb(188, 72, 10);
}
div {
    flex: start;
    justify-content: center;
    background-color: rgb(188, 72, 10);
}
div {
    flex: start;
    justify-content: center;
    background-color: rgb(188, 72, 10);
}
div {
    flex: start;
    justify-content: center;
    background-color: rgb(188, 72, 10);
}
div {
    flex: start;
    justify-content: center;
    background-color: rgb(188, 72, 10);
}

.h {
    background-color: chartreuse;
    display: flex;
}


.wv {
    flex: start end;
    justify-content: center;
    background-color: rgb(18, 72, 10);
}

.ev {
    flex: start end;
    justify-content: center;
    background-color: rgb(18, 72, 10);
}

.rf {
    flex: start end;
    justify-content: center;
    background-color: rgb(18, 72, 10);
}

.jk{
    background-color: rgba(8, 0, 255, 0.7);
    display: flex;
}


