/* 1) შექმენით ვებსაიტი, სადაც გექნებათ 3 ღილაკი. თითო ღილაკს მიეცით სხვადასხვანაირი ჩარჩო. ასევე 5px-ით უნდა იყოს დაშორებული ერთმანეთისგან ღილაკები, ასევე მიეცით სხვადასხვანაირი padding-ი */
button {
    border: dashed;
    margin:5px,5px,5px,5px;
    padding: 10px,10px,10px,10px ;
    background-color: blue;
}

#plp {
    border: dashed red;
    margin:5px,5px,5px,5px;
    padding: 1px,1px,1px,1px ;
    background-color: blue;
}

#pl {
    border: dashed red;
    margin:5px,5px,5px,5px;
    padding: 100px,100px,100px,100px ;
    background-color: blue;
}