* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(214, 225, 240);
    height: 100vh;
}

div  {
    background-color: #ffffffff;
    width: 584.17px;
    height: 777.8px;
    font-family: sans-serif;
    border-radius: 20px;
    text-align: center;
    padding: 20px ,20px, 20px ,20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 20px;
    width: 530px;

}

h1{
    font-weight: bold;
}

h3 {
    color: rgb(188, 188, 190);

}
