body {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    text-align: justify;
    font-size: small;
    font-size: xx-large;
    flex-wrap: wrap;
    text-align: center;
}

.d1 {
    border: solid ;
    height: 100vh;
    width: 50vh;
    background-image: url("images.png");
}

.d2 {
    border: solid ;
    height: 100vh;
    width: 50vh;
    background-image: url("image.png");
    color: #f5f1f1;
}
