body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    

}

html{
    display: flex;
    align-items: center;
    justify-content: center;
}