 
.fucker {
    background-color:rgb(255, 255, 255) ;
    border-radius: 10%;
    padding: 20px;
    text-align: left;
    width: 50%;
    border-width: 10px black;
    height: 100vh;
    display: block;
    list-style: disc;
    font-family: sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content:  center;
    height: 100vh;
    background-color: burlywood;
}


.p1{
    background-color: rgba(230, 230, 252, 0.942);
    border-radius: 10%;
}

p {
    list-style: disc;
}

h1{
    font-family: none;
    color: rgb(117, 6, 6);
}