header{
    border-radius: 10px;
    background-color: rgb(13, 13, 13);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

button {
    border-radius: 10px;
    height: 30px;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: justify;
    font-size: small;
    gap: 20px;
    background-image: url("image.png");
    flex-wrap: wrap;
}