H1{
    color: rgb(255, 25, 0);
    text-shadow: 2px 2px 3px rgb(155, 200, 55);
    font-size: 40pt;
    text-align: center;
}
p{
    color: rgb(255, 255, 140);
    text-shadow: 2px 2px 3px rgb(160, 170, 200);
    font-size: 40pt;
    text-align: center;
}

body {
    text-align: center;
}

