body {
    background-color: #f8cbad;
    margin:0;
    padding: 0;
}

.header {
    background-color: rgb(237, 124, 49);
    height:200px;
}

.divider{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
}

.container{ 
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.card {
    background-color: rgb(237, 124, 49);
    height: 400px;
    width: 230px;
}