
body{
    display: flex;
    align-items: right;
    justify-content:  right;
    height: 100vh;

}

div {
    background-color:white ;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 50%;
    border-width: 10px black;
    height: 100vh;
    display: block;
}

#werty{
    color: darkgrey;
    font-family: sans-serif;
}

.qwertyuiopasdfghjklzxcvbnm{
    color:darkolivegreen;
    display: inline;
    font-size: 40px;
    display: inline;
}

h1{font-size: 70px;}

button {
    font-size: x-large;
    font-family: sans-serif;
    width: 300px;
    background-color:olivedrab ;
    border-radius: 10px;
}


