#p1{
    color: rgb(10, 140, 34);
    text-shadow: 2px 2px 3px rgb(0, 255, 0);
    font-size: 40pt;
    text-align: center;
}



#p2{
    color: rgb(72, 0, 255);
    text-shadow: 2px 2px 3px rgb(0, 92, 128);
    font-size: 40pt;
    text-align: center;
}

p{
    color: rgb(174, 152, 10);
    text-shadow: 2px 2px 3px rgb(234, 255, 0);
    font-size: 40pt;
    text-align: center;
}

body {
    background-color: black;
}


#i1{
    color: rgb(140, 10, 86);
    text-shadow: 2px 2px 3px rgb(255, 0, 204);
    font-size: 40pt;
    text-align: center;
    
}



#i2{
    color: rgb(8, 106, 142);
    text-shadow: 2px 2px 3px rgb(0, 183, 255);
    font-size: 40pt;
    text-align: center;
}

#i3{
    color: rgb(140, 103, 10);
    text-shadow: 2px 2px 3px rgb(255, 230, 0);
    font-size: 40pt;
    text-align: center;
}



#i5{
    color: rgb(255, 25, 0);
    text-shadow: 2px 2px 3px rgb(255, 10, 5);
    font-size: 40pt;
    text-align: center;
}

