div {
    background-color: blueviolet;
    transform:scaleY(3.0);
    width: 200px;
    transform: rotate(120deg);
    transform: skew(79deg);
}

.d2 {
   
    transform:scaleY(1.2);
    transform: rotate(790deg);
    transform: skew(190deg);
    width: 200px;
    background-color: rgb(226, 156, 43);
}
.d3 {
    transform: rotate(68deg);
    transform: skew(13deg);
    background-color: rgb(186, 219, 0);
    transform:scaleX(89);
    width: 200px;
}
.d4 {
    background-color: rgb(0, 136, 129);
    transform:scaleX(10.0);
    width: 200px;
    transform: rotate(9deg);
    transform: skew(39deg);
}
.d5 {
    width: 200px;
    transform: rotate(79deg);
    transform: skew(129876567deg);
    background-color: rgb(24, 3, 75);
    transform:scaleY(3.0);

}