
#p1 {
    color: blueviolet;
    font-size: 10px;
}
#p2 {
    color: rgb(122, 73, 169);
    font-size: 15px;
}
#p3 {
    color: rgb(226, 49, 43);
    font-size: 20px;
}
#p4 {
    color:violet;
    font-size: 25px;
}
#p5 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}
#p6 {
    color: rgb(203, 35, 108);
    font-size: 35px;
}
#p7 {
    color: blueviolet;
    font-size: 40px;
}