ul{
    list-style:disc;
}

/* 1 dav. */
#q{
    list-style:circle;
}

#w{
    list-style:armenian;
}

#r{
    list-style:georgian;
}

#t{
    list-style:outside;
}
/* 2 dav. */
#y {
    list-style:outside;
}

#u {
    list-style:georgian;
}

#i {
    list-style:armenian;
}

#o {
    list-style:circle;
}

/* 3 dav */
#p{
    list-style:outside;
}

#a {
    list-style:outside;
}

#s {
    list-style:georgian;
}

#d {
    list-style:armenian;
}

#f {
    list-style:circle;
}