/* გადმოიწერეთ ამ frontend mentor ის სტარტერ ფაილი, გახსენით vs code ში შექმენით css ის ფაილი დააკავშირეთ html და css ერთმანეთთან html ში არსებული ტექსტები ჩასვით შესაბამის ტექსტის თეგებში, შემდეგ css დან შეცვალეთ საიტის უკანა ფონი იმ ფერით რაც არის დიზაინში მოცემული, და ყველაფერი გადაიტანეთ ცენტრში display flex ის დახმარებით და მისი ფროფერთიების დახმარებით რომელიც უნდა გაუწეროთ body -ს */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(217, 54%, 11%); 
}

p {
    font-size: xx-large;
    color:  hsl(215, 51%, 70%);
}

.md{
    text-align: left;
    font-family: sans-serif;
    background-color:  hsl(216, 50%, 16%);
    color:  White;
    display: flex;
    flex-direction:column ;
    justify-content: start;
    align-items: start;
    padding: 40px;
    gap: 20px;
    /* height: 99vh; */
    border-radius: 20px;
}

.clasico {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.clasico1{
    display: flex;
    position: relative;
    bottom: 60.6px;
    left: 400px;
    gap: 10px;
}

.wsx {
    border-radius: 50%;
    border: solid white;

}

.qwerty{
    color:  hsl(215, 51%, 70%);
}

.qaz {
    font-size: x-large;
    position: relative;
    bottom: 70px;
    left: 100px;
}

.qazw {
    font-size: x-large;
    position: relative;
    bottom: 118px;
    left: 220px;
    color: white;
}

.qwe {
    border-radius: 10px;
}