.d1 {
    background-color: rgb(73, 63, 183);
    transform: skewX(45deg) skewY(1deg);
    text-align: center;
}

.d2 {
    margin-top: 70px;
    background-color: rgb(226, 156, 43);
    transform: skewX(70deg) skewY(2deg);
}

.d1 button {
    background-color: rgb(14, 161, 202);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aquamarine;
}

.d1:hover {
    border-radius: 50%;
    transition: 0.7s;
    background-color: rgb(123, 16, 16);
    color: rgb(248, 40, 40);
}

.d1 button:hover {
    color: rgb(248, 40, 40);
    transition: 1.5s;
    background-color: rgb(176, 54, 35);
}

.d3, .d4 {

    transition: 1.5s;
}

.d3:hover {
    background-color: rgb(186, 219, 0);
    transform: rotate(360deg);

}

.d4:hover {
    background-color: rgb(0, 136, 129);
    transform: rotate(360deg);

}


h1 {
    font-family: monospace;
    color: rgb(255, 255, 255);
}


p {
    font-family: fantasy;
    color: rgb(240, 240, 240);
}

body {
    text-align: center;
}

a:hover {
    background-color: rgb(0, 136, 129);
    transform: rotate(360deg);
}

body{
    display: flex;
    justify-content: flex;
    align-items: center;
    background-color: rgb(28, 90, 99);
    flex-direction: column;
}