    /*
1)  შექმენით 1 პარაგრაპი რომელსაც ექნება ტექსტის დეკორაცია over line , ფერი ექნება თქვენი საყვარელი  ფერი და ტექსის ადგილმდებარეობა იქნება ცენტრში
2 ) შექმენით 1 პარაგრაფი რომელსაც ექნება ტექსტის დეკორაცია linethrough ფერი ექნება წითლი და ტექსტის ადგილმდებარეობა იქნება მარჯვნივ
3 ) შექმენით 1 პარაგრაფი რომელსაც ექნება ტექსტის დეკორაცია underline ფერი ექნება მწვანე და ტექსტის ადგილმდებარეობა იქნება justify ზე დაყენებული 
4 ) კომენტარებით ახენით რას შვება text-align:justify და როგორ მუშაობს 
    */


#p1 {
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

#p2 {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

#p3 {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

#p4 {
    text-decoration: line-through;
    text-decoration-color: rgb(0, 187, 255);
    text-decoration-style: line;
}
#p5 {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 0, 195);
    text-decoration-style: wavy;
}
#p6 {
    text-decoration: line-through;
    text-decoration-color: rgb(38, 0, 255);
    text-decoration-style:double;
}
#p7 {
    text-decoration: line-through;
    text-decoration-color: rgb(1, 0, 0);
    text-decoration-style:inherit;
}
#p8 {
    text-decoration: line-through;
    text-decoration-color: rgb(122, 15, 215);
    text-decoration-style:unset;
}
#p9 {
    text-decoration: line-through;
    text-decoration-color: rgb(200, 255, 0);
    text-decoration-style:none;
}
#p10 {
    text-decoration: line-through;
    text-decoration-color: rgb(141, 75, 75);
    text-decoration-style:solid;
}
#p11 {
    text-decoration: line-through;
    text-decoration-color: rgb(255, 123, 0);
    text-decoration-style:dotted;
}
#p12 {
    text-decoration: line-through;
    text-decoration-color: rgba(210, 99, 179, 0.864);
    text-decoration-style:dashed;
}