
/* gabriel project */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;

}

.smallcards {
    display: flex;
}

.food {
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 100px;
    width: 35rem;
    margin: 20px;
    background: url(1.png);
    background-repeat: no-repeat;
    background-position: 240px 45px; 
    border-radius: 15px;
    
}

.food h2,.plant h2 {
    font-size: 2rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.food h2 span ,.plant h2 span {
    font-size: 12px;
    opacity: 50%;

}

.food button, .plant button {
    padding: 13px 35px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 74px;
    border: none;
    color: hsl(174, 21%, 51%);
}

.foodbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 35rem;
    height: 310px;
    z-index: -1;
    background:linear-gradient(to right, hsl(174, 21%, 51%),hsl(180, 16%, 86%));
    border-radius: 15px;
}