* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body{
    justify-content: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

p {
   font-family: sans-serif;
   text-align: left; 
}

div {
    background-color:white ;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    width: 350px;
    border-width: 10px black;
}

h1{
    text-align: left;
    font-family: sans-serif;
}

button {
    background-color: rgb(255, 242, 4);
    width: 100px;
    height:20px;
    text-align:start;
    font-weight:500;
    display: block;
    border-style: hidden ;
    border-radius: 5px;
    font-family: sans-serif;
}

.p1{
    color: darkgrey;
}

#k{
    width: 30px;
    border-radius: 50%;
}

